html {
	background-color: #CCFFFF;
}

body {
	font-family: sans-serif;
}

.left {
	float: left;
	padding-right: 20px;
}

.right {
	float: right;
	padding-left: 20px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	background-color: white;
	border: 2px solid;
	padding: 15px;
	min-height: 600px;
}

.footer ul li {
	float: left;
	padding-right: 20px;
}

.footer {
	margin: 0 auto;
	width: 1200px;
}

.no-border {
	border: none;
}
