html {
	background-color: #CCFFFF;
}

body {
	font-family: sans-serif;
}

.left {
	float: left;
	padding-right: 20px;
}

.right {
	float: right;
	padding-left: 20px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	background-color: white;
	border: 2px solid;
	padding: 15px;
	min-height: 600px;
}

.footer nav a {
	padding-right: 20px;
}

.footer {
	margin: 0 auto;
	width: 400px;
}

.no-border {
	border: none;
}

.canvas-container {
	width: 250px;
	float: left;
	padding-right: 20px;
}

.canvas-container ul li {
	float: left;
	padding-right: 5px;
	list-style: none;
}

.canvas-container ul {
}

.video-container {
	margin: 0 auto;
	width: 1010px;
}

#red-box
{
width:100px;
height:100px;
position:relative;
animation:mymove 5s infinite;
-webkit-animation:mymove 5s infinite; /* Safari and Chrome */
}

@keyframes mymove
{
0% {left:300px; top: -100px;}
50% {left:950px; top: -100px;}
100% {left:300px; top: -100px;}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
0% {left:300px; top: -100px;}
50% {left:950px; top: -100px;}
100% {left:300px; top: -100px;}
}
#now-sending {
	width: 150px;
	height: auto;
}

#guess-response {
	color: red;
	font-style: bold;
}