ul li.active {
	height: 55px;
	font-size: 25px;
}

.minus-sign {
	float: right;
	position: relative;
	top: -1.4px;
	cursor: pointer;
}

.minus-sign img {
	height: 26px;
}

.list-group-item button {
	padding: 0px;
}